<p id="notice"><%= notice %></p>

<h1 class="text-center">Juegos</h1>

<table class="table table-dark table-bordered ">
  <thead>
    <tr class="text-center bg-primary">
      <th>Nombre del juego</th>
      <th>Reglas</th>
      <th>Reglas en pdf</th>
      <th>Tablero</th>
      <th>Piezas</th>
      <th>Detalle</th>
      <th>Editar</th>
      <th>Eliminar</th>

    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <p>
        <td ><%= game.rule %></td>
        </p>
        <td ><% game.rules %>
          <a class="text-white" href="<%= rails_blob_path(game.rules, disposition: "attachment") %>" > <u> Descargar </u> </a>
        </td>

        <td ><% game.box%> 
          <div class="form-group">
            <% if game.box.attached? %>
              <%= image_tag game.box, style: "-webkit-filter: grayscale(100%) height:100px;width:100px"%>
            <% end %>
          </div>
        </td>

        <td ><% game.images%> 
          <div class="form-group">
          <% if game.images.attached? %>
          <% game.images.each do |image| %>
          <%= image_tag image, style: "-webkit-filter: grayscale(100%) height:100px;width:100px" %>
          <% end %>
          </p>
          <% end %>
            </div>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Juego nuevo', new_game_path %>
